confirm page
<%= form_with(model:@list, url: lists_path, local:true) do |form| %>
  <%= form.hidden_field :content %>
  <p>content:<%= @list.content %></p>
  <%= form.submit "submit" %>
<% end %>

<%= form_with(model:@list, url:new_list_path, local:true, method: 'get') do | form | %>
  <%= form.hidden_field :content %>
  <%= form.submit "return new talk", name: 'back' %>
<% end %>
