<!DOCTYPE html>
<html>
  <head>
    <title>Imagefeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class = "container">
      <header>
        <nav>
          <ul>
            <div class="menue_items">
              <div>
                <li><a href="/"><span class="glyphicon glyphicon-home"> Home</span></a></li>
                <li><a href="/feeds"><span class="glyphicon glyphicon-picture"> FeedList</span></a></li>
                <li><a href="/feeds/new"><span class="glyphicon glyphicon-camera"> NewFeed</span></a></li>
              </div>
              <div>
                <% if logged_in? %>
                  <li><%= link_to current_user.name, user_path(current_user.id) %></li>
                  <li><%= link_to "Logout", session_path(current_user.id), method: :delete  %></li>
                <% else %>
                  <li><%= link_to "Sign up", new_user_path %>
                  <li><%= link_to "Login", new_session_path %>
                <% end %>
              </div>
            </div>
          </ul>
        </nav>
      </header>

      <% flash.each do|key, value| %>
        <%= content_tag(:div, value, class:"#{key}") %>
      <% end %>
      
      <%= yield %>

      <footer>
        <div>
          <p>Dive into code</p>
        </div>
      </footer>
    </div>
  </body>
</html>
