<!DOCTYPE html>
<html>
  <head>
    <title>Imagefeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
      <header>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/feeds">FeedList</a></li>
            <li><a href="/feeds/new">NewFeed</a></li>
          </ul>
        </nav>
      </header>

      
      <%= yield %>

      <footer>
        <div>
          <p>Dive into code</p>
        </div>
      </footer>
    </div>
  </body>
</html>
