<h1>Lists#index</h1>
<p>Find me in app/views/lists/new.html.erb</p>
<%= form_with(model:@list, local:true, url: choose_new_or_edit ) do |form| %>
  <% if @list.errors.any? %>
    <div id = "error_explanation">
      <h2> <%= @list.errors.count %> errors found! </h2>
      <ul>
        <% @list.errors.full_messages.each do | msg | %>
          <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "lists_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>