<h1>Blogs#index</h1>

<p><%= notice %></p>
<table>
<tr>
  <th>title</th>
  <th>content</th>
</tr>

<% @blog.each do | rec |  %>
<tr>
  <td><%= rec.title %></td>
  <td><%= rec.content %></td>
  <td> <%= link_to 'confirm detail', blog_path(rec.id) %></td>
  <td> <%= link_to 'edit blogs', edit_blog_path(rec.id), data:{ confirm: 'do you really want to edit it?'} %> </td>
  <td><%= link_to 'delete blogs', blog_path(rec.id), method: :delete %></td>
</tr>
<% end %>

<%= link_to 'DIVE int code page', 'https://diveintocode.jp/' %>
<br>
<%= link_to 'return to blog index page', blogs_path %>
<br>
<%= link_to 'go to new page', new_blog_path %>